*{
  font-family:sans-serif;
}
/*CSS Menu*/
body{
  margin:0;
  background: white;
}
img {
  height:50px;
}
.menu {
  background: #f7e4ff;
  height: 60px;
  border-bottom: 1px solid white;
  display:flex;
  justify-content: space-between;
}
.menu a{
  font-family: verdana;
  color: #721f92;
  text-decoration: none;
  font-size: 20px;
  flex: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu a:hover{
  background: #6b6b6b;
  color: #dd69d9;
}
#a-1{
  background: ;
}
/*Encabezado*/
.main-section{
  height: 600px;
  width: 100%;
  background-image: url('https://image.freepik.com/foto-gratis/jardin-flores-rosado-tulipan_7451-56.jpg');
  position: relative;
  background-size:cover;
}
.overlay {
  background: #ff00003d;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.logos {
  margin-left:15px;
}
.let-white{
  color: #1d002d;
  margin-bottom:50px;
}
.espace {
    margin-left:25%;
}
 /*Acerca de mi*/
.col-md-1 {
    padding:1rem;
    margin:1rem;
    }
.col-md-2{
    padding:1rem;
    margin:1rem;
  }
.foto{
    display:inline.block;
    height:300px;
    padding:3px;
  }
/*CSS Tarjetas*/
.d-flex-md{
    display:flex;
  }
.col-md-3 {
    width:25%;
    padding:1rem;
    margin:1rem;
  }
/*Componentes*/
.card {
  background:#6b6b6b;
  color:white;
  padding:1rem;
  height:100%;
  transform: scale(1);
  transition: all 1s;
}
.card:hover{
  /*efecto tarjeta aumentada*/
  transform: scale(1.1);
  background: #721f92;
  color: #f7e4ff;
  transition: all 0.7s;
} 
/*Clases genericas*/
.hg-light {
  background: #f7e4ff;
}
section {
  padding:5%
}
.justify-content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
/*Titulos*/
.title-2 {
  display:block;
  margin-bottom:15px;
  font-size:4rem;
  color: #1d002d;
}
.title-3 {
  font-size:2rem;
  color: #1d002d;
}
.title-4 {
  font-size:1.3rem;
}
/*Pie de pagina*/
i {
    height:10px;
  color:white;
  } 
article {
    position:absolute;
  margin-top:70px;
  margin-right:200px;
  }
.main-a {
    background: #6b6b6b;
  color:white;
  }
.ver-ali {
  display:flex;
  justify-content:center;
  margin-top:100px;
}